.notfound{
    text-align: center;
    height: calc(100vh - 22rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        font-size: 40px;
        color: red;

    }
    p{
        font-size: 25px;
        color: var(--color2);
    }
}